@page
@model RoomModel

@{
    ViewData["Title"] = "Room";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <table>
        <tr><td>UserName</td>
        <td></td>
        </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-page="/Account/Message" asp-route-id="@item.Id">Start Chat</a>
            </td>
        </tr>
    }
    </table>
</div>
<br>
<br>
<div class="row">
    <div class="container">
        <div class="row">
            &nbsp;
            My User Id is: <span id="userId">@Model.userId</span>
        </div>
        <input type="hidden" id="sendUserId" value="@Model.userId"/>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
        <input type="hidden" id="signalRConnectionId" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<script src="~/lib/signalr/signalr.min.js"></script>
<script>
    var userId = document.getElementById("userId").innerText;
    var loginToken = document.getElementById("token").value;
    var connection = new signalR.HubConnectionBuilder().withUrl(
        "/NotificationUserHub?userId=" + userId, { accessTokenFactory: () => loginToken }).build();

    //listen to Hub
    connection.on("sendToUser", (message) => {
        var msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var li = document.createElement("li");
        li.textContent = msg;
        document.getElementById("messagesList").appendChild(li);

    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    }).then(function () {
        connection.invoke('GetConnectionId').then(function (connectionId) {
            console.log('connectionId is :' + connectionId);
            document.getElementById('signalRConnectionId').innerHTML = connectionId;
        })
    });</script>